{
"extends": "eslint:recommended",
"parser": "babel-eslint",
"globals": {
  "window": true,
  "document": true,
  "console": true,
  "require": true,
  "module": true
},
"rules": {
  "indent": ["error", 4],
  "linebreak-style": ["error", "unix"],
  "semi": ["error", "always", {
    "omitLastInOneLineBlock": true
  }],
  "comma-dangle": ["error", "never"],
  "no-console": "off",
  "max-len": ["error", { "code": 120 }],
  "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1, "maxBOF": 0 }],
  "func-style": ["error", "declaration"]
}}